

.headerWithBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.back {
    align-self: flex-start;
    font-size: 1.2rem;
    border: 1px solid #ddd;
    padding: 1rem 3rem;
    border-radius: .9rem;
    position: absolute;
    top: 0;
    left: 1rem;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s, color 0.2s;
    position: absolute;
    color: #00bfff;
    
    
}

.back:hover {
    color: #1e90ff;

}

.createWorkout {
    font-size: 1.2rem;
    border: 1px solid #ddd;
    padding: 1rem 3rem;
    border-radius: .9rem;
    position: absolute;
    top: 0;
    right: 1rem;
    margin: 1rem;
    cursor: pointer;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.6);
    transition: background-color 0.2s, color 0.2s;
    position: absolute;
    
}

.createWorkout:hover {
    background-color: #f8f8f8;
    color: #000;
}

.buttons li {
    position: relative;
}




.workouts {
    position: relative;
    display: flex;
}

.options-workout {
  background: #2c2c2c;
  border-radius: 16px;
  padding: .2rem 0rem;
  text-align: center;
  max-width: 170px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease;
  position: absolute;
  min-height: 80px;
  max-height: 200px;
  right: -185px; /* distância da box principal */
  top: 0;
}

.options-workout p {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 3px;
}

.options-workout button {
    padding: .7rem 1.4rem;
}

@media (max-width: 700px) {
    .createWorkout {
  top: 180px;
    padding: 1rem 1rem;

    }
}



