.headerWithBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.headerActions {
  position: absolute;
  top: 120%; /* logo abaixo da imagem */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem; /* espaço entre os botões */
}

.back,
.createWorkout {
  position: relative; /* necessário dentro do container absolute */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  padding: 0.8rem 2rem;
  border-radius: 0.9rem;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s, color 0.2s;
}

.back {
  background: #00bfff;
  color: #fff;
}

.back:hover {
  background: #1e90ff;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
}


.createWorkout:hover {
  background-color: #ddd;
}

.buttons li {
  position: relative;
  min-width: 100px;
  max-width: 250px;
  word-wrap: break-word;
  white-space: normal;
}

.workouts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.options-workout {
  background: #2c2c2c;
  border-radius: 16px;
  padding: 0.2rem 0rem;
  text-align: center;
  max-width: 140px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
  transition: all 0.3s ease;
  position: absolute;
  min-height: 80px;
  max-height: 150px;
  right: -150px; /* distância da box principal */
  top: 0;
}

.options-workout p {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 3px;
}

.options-workout button {
  padding: 0.35rem 0.7rem;
}

.options-workout button:first-of-type {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.lis li:first-of-type {
  margin-top: 0.5rem;
}

@media (max-width: 800px) {
  .options-workout {
    transform: scale(0.8);
    right: -135px;
    top: -10px;
  }
}


