* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  background: linear-gradient(180deg, #1e1e1e, #121212);
  color: #f1f1f1;
  font-family: "Inter", sans-serif;
}

/* Estilos gerais */

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: center;
  padding: 0 20px;

  min-height: 100vh;
  color: #f0f0f0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.header img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-top: 0;
  /* margin-top: -2rem; */
}

.header h2 {
  font-size: 2.4rem;
}

.header p:first-of-type {
  margin-top: -2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.header h2 span {
  color: rgb(34, 34, 206);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.buttons li {
  background-color: #2f2f2f;
  border: 1px solid #555;
  padding: 1rem 3rem;
  border-radius: 0.9rem;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-shadow: 0 4px 16px rgba(0, 191, 255, 0.15);
  font-size: 1.1rem;
}

.buttons li:hover {
  background-color: #00bfff;
  color: #000;
}

.buttons li:active {
  transform: scale(0.97);
  box-shadow: 0 2px 12px rgba(0, 191, 255, 0.4);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: .7rem 1.5rem;
  border-radius: 12px;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #00bfff;

  cursor: pointer;
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.15s ease, background-color 0.25s ease,
    box-shadow 0.25s ease;
}

/* Hover e focus */
button:hover {
  background-color: #1e90ff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
}

button:active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}

@media (max-width: 650px) {
  button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 0.7rem;
  }
}
